    .main {
        width: 1000px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        margin-top: 50px;
    }
    
    .main>h1 {
        margin-top: 50px;
    }
    
    .nav {
        position: absolute;
        top: 133px;
        left: 330px;
    }
    
    .nav>li {
        float: left;
        width: 166px;
        padding-bottom: 12px;
    }
    
    .n-new {
        border-bottom: 5px solid #FF5339;
    }
    
    .nav>li:hover {
        border-bottom: 5px solid #FF5339;
    }
    
    .nav>li>a {
        font-size: 16px;
    }
    
    .nav>li>a:hover {
        color: #FF5339;
    }
    
    #prolist {
        width: 1000px;
        margin-left: 300px;
        height: 1150px;
        font-size: 12px;
    }
    
    #prolist>li>img {
        width: 199px;
        height: 130px;
    }
    
    #prolist>li {
        margin-top: 20px;
        float: left;
        margin-right: 40px;
        width: 202px;
        border: 1px solid #E9E9E9;
        border-radius: 10px;
        overflow: hidden;
        height: 230px;
        position: relative;
    }
    
    #prolist>li>img:hover {
        animation: free 2s infinite;
    }
    
    .price {
        float: left;
        color: #DF4E5D;
        margin-top: 25px;
        margin-left: 10px;
    }
    
    .like {
        position: absolute;
        top: 170px;
        right: 20px;
    }
    
    .like>a {
        color: #D0D6E1;
    }
    
    .des {
        color: #E9E9E9;
    }
    
    .prolist-color {
        background-color: #F7F7F7;
        margin-top: 130px;
        position: relative;
    }
    
    .more {
        text-align: center;
        font-size: 16px;
        color: #FF5339;
        position: absolute;
        bottom: 35px;
        left: 700px;
    }
    
    .footer {
        margin-top: 53px;
    }
    
    @keyframes free {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    #prolist1 {
        width: 1000px;
        margin-left: 300px;
        height: 1150px;
    }
    
    #prolist1>li>img {
        width: 199px;
        height: 130px;
    }
    
    #prolist1>li {
        margin-top: 20px;
        float: left;
        margin-right: 40px;
        width: 202px;
        border: 1px solid #E9E9E9;
        border-radius: 10px;
        overflow: hidden;
        height: 230px;
        position: relative;
    }
    
    #prolist1>li>img:hover {
        animation: free 2s infinite;
    }