.banner{
    background: url(./img/original.jpg) no-repeat -160px 0px;
    height: 300px;
    .wrap5{
        width: 1000px;
        margin: 0 auto;
        .text4{
            animation: freedom 1s;
             @keyframes freedom {
                 from {
                     transform: translate(200px, -200px);
                 }
                 to {
                     transform: translate(0px, 0px);
                 }
             }
                float: right;
                text-align: right;
                h1{
                    font-size: 24px;
                    margin-top: 30px;
                    
                    color: #fff;
                }
                .ppp1{
                    
                    margin-top: 10px;
                    margin-bottom: 10px;
                    span{
                        background-color: #f7d097;
                        margin-left: 10px;
                        height: 35px;
                        padding: 5px;
                        a{
                            color: #fff;
                           
                           font-size: 14px;
                           height: 35px;
                           line-height: 35px;
                        }
                    }
                }
                .ppp2{
                    font-size: 14px;
                   
                    color: #fff;
                }
                .ppp3{
                    
                    margin-top: 10px;
                    button{
                        background-color: #fe5341;
                        color: #fff;
                        width: 200px;
                        height: 45px;
                        border: none;
                    }
                }
            }
    }
    
}



.frame{
    position: relative;
    .pre{
        cursor: pointer;
        position: absolute;
        float: left;
        top: 150px;
        left:190px;
    }
    .next{
        cursor: pointer;
        position: absolute;
        float: right;
        top: 150px;
        right: 212px;
    }
    .wrap1{
        width: 1000px;
        margin: 0 auto;
        margin-top: 20px;
        
            .scroll{
            h2{
                margin-bottom: 20px;
                font-size: 21px;
            }
            .pos{
                height: 315px;
                .inner{
                   
                    .imgs{
                        // overflow-x: scroll;
                        width: 1000px;
                        overflow: hidden;
                        .list{
                            width: 3000px;
                            li{
                                float: left;
                                padding-left: 14px;
                                padding-right: 14px;
                                width: 220px;
                                height: 285px;
                                background-color:#ffffff;
                                .border{
                                    border: solid 1px #dedfe1;
                                    border-radius: 10px 10px 10px 10px;
                                    overflow: hidden;
                                img{
                                    width: 220px;
                                }
                                .p1{
                                    text-align: center;
                                    font-size: 17px;
                                    margin-top: 10px;
                                    font-weight: bold;
                                }
                                .p2{
                                    text-align: center;
                                    margin-bottom: 10px;
                                    span{
                                        border: solid 1px #fc5946;
                                        color: #fc5946;
                                        padding-left: 10px;
                                        padding-right: 10px;
                                        text-align: center;
                                        height: 24px;
                                        line-height: 24px;
                                        margin-right: 10px;
                                        border-radius: 5px 5px 5px 5px;
                                    }
                                }
                                .p3{
                                    text-align: center;
                                    font-size: 14px;
                                    .s1{
                                        color:  #fc5946;
                                    }
                                }
                                .p4{
                                    margin-top: 5px;
                                    text-align: center;
                                    font-size: 13px;
                                    color: #fc5946;
                                }
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
}


.frame4{
    background-color: #f7f7f7;
    height: auto;
        .title4{
            background-color: #fff;
            height: auto;
            h4{
                text-align: center;
                line-height: 65px;
                font-size: 27px;
                font-weight: normal;
            }
            .more{
                width: 400px;
                margin: 0 auto;
                div{
                    font-size: 14px;
                    display: inline-block;
                    line-height: 30px;
                    height: 30px;
                    color: #000;
                    padding-right: 50px;
                    padding-left: 50px;
                   
                }
                .red11{
                    a{
                        color: red;
                    }
                    
                    border-bottom: 3px solid red;
                }
            }
            
        }
        .wrap4{
            width: 1000px;
            margin: 0 auto;
            height: auto;
        .content4{
            padding-top: 20px;
            height: auto;
            
            .cat1{
                background-color: #ffffff;
                padding-top: 20px;
                height: auto;
                margin-bottom: 30px;
                h2{
                    font-size: 17px;
                    font-weight: normal;
                    padding-left: 30px;
                    border-left: 4px solid #f65543;
                }
                .img1{
                    margin-top: 20px;
                    height: auto;
                    ul{
                        li{
                            float: left;
                            margin-left: 30px;
                            margin-right: 20px;
                            margin-bottom: 20px;
                            p{
                                text-align: center;
                                a{
                                font-size: 14px;
                                color:#bcc0bf;
                                }
                            }
                            
                        }
                        border-bottom: 1px solid #f7f7f7;
                    }

                        .detail{
                        padding-top: 285px;
                        padding-bottom: 20px;
                        p{
                            margin-top: 10px;
                            margin-left: 40px;
                            
                            a{
                                text-align: center;
                                margin-left: 40px;
                                margin-right:   30px;
                                font-size: 14px;
                                color:#bcc0bf;
                            }
                        }
                    }
                }
               
            }
            
        }
    }
}
.wrap6{
    width: 1000px;
    margin:0 auto ;
    margin-bottom: 20px;
    .more2{
        cursor: pointer;
        width: 120px;
        margin: 0 auto;
        .i1{
           display: inline-block;
           margin-top: 10px;
        }
        .i2{
            display: inline-block;
            display: none;
            height: 15px;
            width: 15px;
            margin-top: 10px;
        }
        span{
            display: inline-block;
            color: #ff5547;
        }
    }
}